<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjX1jUDK3-vjvlhHNkdlGA-I9CKoCmR6A</string>
	<key>GCM_SENDER_ID</key>
	<string>213492613317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zehraoner.FitnessAI</string>
	<key>PROJECT_ID</key>
	<string>fitnessal</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213492613317:ios:d03fec8b5ee43c414630ac</string>
</dict>
</plist>